{% extends 'base.html' %}

{% block titulo %} Recuperar Contraseña {% endblock %}

{% block Contenido %}
<div class="card">
    <div class="card-header">
        ¿Olvidaste tu contraseña?
    </div>
    <div class="card-body">
        <p>Por favor, ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
        <form method="POST" class="form-container">
            {% csrf_token %}
            {{ form.email.label_tag }}
            {{ form.email }}
            <div class="error-message">
                {{ form.email.errors }}
            </div>
            <button type="submit" class="btn btn-primary">Enviar enlace</button>
        </form>
    </div>
</div>
{% endblock %}
