{% extends 'dashboard.html' %}

{% block titulo %} Clientes {% endblock %}
{% block Contenido %} 


<h2 class="dash-title">Clientes</h2>
            
<div class="dash-cards">
    <div class="card-single">
        <div class="card-body">
            <span class="ti-briefcase"></span>
            <div>
                <h5>Correo Normal</h5>
                <h4>↓</h4>
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'formulario_enviar_correo_sin_seleccion' %}">Ver formulario</a>
        </div>
    </div>
    
    <div class="card-single">
        <div class="card-body">
            <span class="ti-reload"></span>
            <div>
                <h5>Correo Masivo</h5>
                <h4>↓</h4>
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'seleccionar_clientes_correo' %}">Ver Lista</a>
        </div>
    </div>
    
    <div class="card-single">
        <div class="card-body">
            <span class="ti-check-box"></span>
            <div>
                <h5>Cantidad de Clientes</h5>
                <h4>{{ cantidad_clientes }}</h4> <!-- Mostrar la cantidad de clientes -->
            </div>
        </div>
        <div class="card-footer">
            <a href="#"></a>
        </div>
    </div>
    
</div>

<section class="recent">

    <div class="actions-bar">
        <div class="action-buttons">
            <form action="{% url 'crear_clientes' %}" method="GET" style="display:inline;">
                <button class="btn-add" style="background-color: #00913f; color: white; border: none;">Registrar</button>
            </form>            
            <form action="{% url 'exportar_clientes_excel' %}" method="get">
                <button class="btn-download" type="submit" style="background-color:	#1034A6; color: white; border: none;">
                    <i class="fas fa-download"></i> Descargar
                </button>
            </form>                              
            
           
        </div>
    
        <div class="search-bar">
            <form method="GET" action="">
                <input type="text" name="q" placeholder="Buscar..." value="{{ query }}" class="search-input">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="styled-table"> 
            <thead>
                <tr>
                    <th>Nombres </th>
                    <th>Apellidos</th>
                    <th>T.D</th>
                    <th>N° Documento</th>
                    <th>Correo 1</th>
                    <th>Correo 2</th>
                    <th>Telefono 1</th>
                    <th>Telefono 2</th>
                    <th>Dirección</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Género</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nombre1 }} {{ cliente.nombre2 }}</td>
                    <td>{{ cliente.apellido1 }} {{ cliente.apellido2 }}</td>
                    <td>{{ cliente.tipodocumento }}</td>
                    <td>{{ cliente.numerodocumento }}</td>
                    <td>{{ cliente.correo1 }}</td>
                    <td>{{ cliente.correo2 }}</td>
                    <td>{{ cliente.telefono1 }}</td>
                    <td>{{ cliente.telefono2 }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>{{ cliente.fechanacimiento }}</td>
                    <td>{{ cliente.genero }}</td>
                    <td>
                        <form action="{% url 'editar_clientes' cliente.idclientes %}" method="GET" style="display:inline;">
                            <button type="submit" class="btn-edit">✏️</button>
                        </form>
                        <form action="{% url 'eliminar_clientes' cliente.idclientes %}" method="POST" style="display:inline;" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este registro?');">
                            {% csrf_token %}
                            <button type="submit" class="btn-delete">🗑️</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>          
</section>

{% endblock %}