{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>{% block titulo %} {% endblock %} </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    
    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">
                <span class=""></span> 
                <span>Jhonnie Vermonds</span> <!-- Nombre de la empresa en la barra lateral -->
            </h3> 
            <label for="sidebar-toggle" class="ti-menu-alt"></label>
        </div>
        
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="{% url 'inicio' %}">
                        <span class="ti-home"></span>
                        <span>Home</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" onclick="toggleSubmenu('inventario-submenu')">
                        <span class="ti-face-smile"></span>
                        <span>Inventario</span>
                    </a>
                    <!-- Submenú de inventario -->
                    <ul class="inventario-submenu submenu" id="inventario-submenu">
                        <li><a href="{% url 'inventario' %}">Productos</a></li>
                        <li><a href="{% url 'insumo' %}">Insumo</a></li>
                    </ul>
                </li> 
                <li>
                    <a href="{% url 'resumen_ventas' %}">
                        <span class="ti-agenda"></span>
                        <span>Ventas</span>
                    </a>
                </li>                
                <li>
                    <a href="{% url 'proveedor' %}">
                        <span class="ti-clipboard"></span>
                        <span>Proveedores</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'clientes' %}">
                        <span class="ti-folder"></span>
                        <span>Clientes</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'produccion' %}">
                        <span class="ti-time"></span>
                        <span>Producción</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'lista_usuarios' %}">
                        <span class="ti-settings"></span>
                        <span>Panel de Control</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="main-content">
        <header>
            <!-- Nombre de la empresa en la barra superior solo cuando la barra lateral esté colapsada -->
            <div class="navbar-logo collapsed-only" id="navbar-logo">
                <h3>Jhonnie Vermonds</h3>
            </div>

            <div class="social-icons">
                
                <span class="ti-bell" onclick="openSalesModal()"></span>

                <!-- Icono para el modal de la frase motivadora -->
                <span class="ti-comment" onclick="openMotivationModal()"></span>
                
                <!-- Modal de ventas -->
                <div id="salesModal" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeSalesModal()">&times;</span>
                        <h2>Ventas Virtuales Recientes</h2>
                        <ul class="ventas-recientes">
                            {% for venta in ventas_recientes %}
                                <li>
                                    <strong>Venta N°:</strong> {{ venta.numeroventa }}<br>
                                    <strong>Fecha:</strong> {{ venta.fechaventa }}<br>
                                    <strong>Total:</strong> ${{ venta.valortotal }}<br>
                                    <a href="{% url 'detalle_venta' venta.idventas %}">Ver Detalles</a>
                                </li>
                            {% empty %}
                                <li>No hay ventas recientes.</li>
                            {% endfor %}
                        </ul>
                        <a href="{% url 'resumen_ventas' %}"><button>Ver Ventas</button></a>
                    </div>
                </div>
                
                <!-- Modal de frase motivadora -->
                <div id="motivationalModal" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeMotivationModal()">&times;</span>
                        <h2>Frase Motivadora del Día</h2>
                        <p>{{ frase_del_dia }}</p>
                    </div>
                </div>
            
                <!-- Contenedor de la imagen de perfil y submenú -->
                <div class="profile-menu">
                    <img src="{% static 'img/4.avif' %}" alt="Icono de perfil" class="profile-icon" id="profile-icon">
            
                    <!-- Submenú de la imagen de perfil -->
                    <div class="profile-submenu" id="profile-submenu">
                        <ul>
                            <li><a href="{% url 'admin_cambiar_contrasena' %}">Cambiar Clave</a></li>
                            <li><a href="{% url 'logout' %}">Salir</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        
        <main>
            {% block Contenido %}  
            {% endblock %}
        </main>
    </div>

    <script>
        // Función para mostrar/ocultar el submenú
        function toggleMenu() {
            var submenu = document.getElementById('profile-submenu');
            submenu.classList.toggle('active');
        }

        // Evento para mostrar el submenú al hacer clic en la imagen de perfil
        document.getElementById('profile-icon').addEventListener('click', function(event) {
            event.stopPropagation(); // Evitar que el evento se propague y cierre el menú
            toggleMenu();
        });

        // Detecta clics fuera del menú para ocultarlo
        document.addEventListener('click', function(event) {
            var isClickInside = document.getElementById('profile-submenu').contains(event.target);
            if (!isClickInside) {
                document.getElementById('profile-submenu').classList.remove('active');
            }
        });

        // Función para alternar la visibilidad del submenú de inventario
        function toggleSubmenu(id) {
            var submenu = document.getElementById(id);
            submenu.classList.toggle('active');
        }
        
        
        // Funciones para abrir y cerrar el modal de ventas
        function openSalesModal() {
            document.getElementById('salesModal').style.display = 'block';
        }
        function closeSalesModal() {
            document.getElementById('salesModal').style.display = 'none';
        }

        // Funciones para abrir y cerrar el modal de frase motivadora
        function openMotivationModal() {
            document.getElementById('motivationalModal').style.display = 'block';
        }
        function closeMotivationModal() {
            document.getElementById('motivationalModal').style.display = 'none';
        }

        // Cerrar el modal si el usuario hace clic fuera del contenido
        window.onclick = function(event) {
            var salesModal = document.getElementById('salesModal');
            var motivationalModal = document.getElementById('motivationalModal');
    
            if (event.target == salesModal) {
            salesModal.style.display = 'none';
             }
    
            if (event.target == motivationalModal) {
             motivationalModal.style.display = 'none';
            }
        }
</script>



    
        



        
    
    </script>


    
    
</body>
</html>
