{% extends "base.html" %}
{% block titulo %} Inicio {% endblock%}

{% block Contenido %}

<div class="video-carousel">
    <div class="carousel-container">
        <video class="carousel-video" autoplay loop muted>
            <source src="https://videos.pexels.com/video-files/7871226/7871226-uhd_2732_1440_25fps.mp4" type="video/mp4">
        </video>
        <video class="carousel-video" autoplay loop muted>
            <source src="https://videos.pexels.com/video-files/7621840/7621840-uhd_2732_1440_25fps.mp4" type="video/mp4">
        </video>
        <video class="carousel-video" autoplay loop muted>
            <source src="https://videos.pexels.com/video-files/7871229/7871229-uhd_2732_1440_25fps.mp4" type="video/mp4">
        </video>
    </div>
     <button class="carousel-btn prev-btn">⟨</button>
    <button class="carousel-btn next-btn">⟩</button>
</div>
<div class="button-bar">
    <button class="gender-button">Mujer</button>
    <button class="gender-button">Hombre</button>
</div>

<section class="image-section">
    <img class="large-image" src="https://images.pexels.com/photos/5629276/pexels-photo-5629276.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Imagen Grande">
</section>
<div class="button-bar">
    <button class="gender-button">Nuestros Favoritos</button>
</div>
<section class="image-carousel">
    <div class="carousel-container">
    <div class="carousel-images">
    <img src="https://images.pexels.com/photos/11491088/pexels-photo-11491088.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    <img src="https://images.pexels.com/photos/7164281/pexels-photo-7164281.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    <img src="https://images.pexels.com/photos/6337085/pexels-photo-6337085.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    <img src="https://images.pexels.com/photos/7163924/pexels-photo-7163924.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    <img src="https://images.pexels.com/photos/5976066/pexels-photo-5976066.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    <img src="https://images.pexels.com/photos/5878884/pexels-photo-5878884.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    <img src="https://images.pexels.com/photos/9573706/pexels-photo-9573706.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    <img src="https://images.pexels.com/photos/6273203/pexels-photo-6273203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    <img src="https://images.unsplash.com/photo-1647517368034-4389fcb678f5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
    <img src="https://images.pexels.com/photos/7618388/pexels-photo-7618388.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    <img src="https://images.unsplash.com/photo-1613498401195-33546cd26db3?q=80&w=1376&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
    <img src="https://images.pexels.com/photos/7654038/pexels-photo-7654038.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    <img src="https://images.pexels.com/photos/26741269/pexels-photo-26741269/free-photo-of-mujer-modelo-maqueta-chaqueta.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    <img src="https://risbelmagazine.es/wp-content/uploads/2024/03/como-combinar-pantalones-cuero-felix-ramiro-mbfw-24-768x1024.jpg" />            
    </div>
    </div>
    
    <div class="button-bar">
        <button class="gender-button">Categorias</button>
    </div>

    <div class="image-grid">
        <img src="https://images.pexels.com/photos/26772101/pexels-photo-26772101/free-photo-of-zapatos-de-tacon-tacones-cuero-piel.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Imagen 1">
        <img src="https://images.pexels.com/photos/26954381/pexels-photo-26954381/free-photo-of-modelo-estampado-textura-lujo.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Imagen 2">
        <img src="https://i.pinimg.com/564x/ce/42/a6/ce42a66089e7534d3dcd26caebc0cc31.jpg" alt="Imagen 3">
        <img src="https://images.asos-media.com/products/pantalones-color-guinda-de-talle-alto-de-poliuretano-de-extro-vert-parte-de-un-conjunto/206757521-4?$n_640w$&wid=513&fit=constrain" alt="Imagen 4">
        <img src="https://ae01.alicdn.com/kf/Hb49e2aeb61604a25a46aad3c4e21486eV/Boina-de-cuero-PU-que-combina-con-todo-para-mujer-gorra-octogonal-de-Color-s-lido.jpg" alt="Imagen 5">
        <img src="https://valencia.com.pe/cdn/shop/collections/CIVVAL3335001NM-P3-1_1200x1200.png?v=1689177771" alt="Imagen 6">
    </div>

    <section class="image-section">
        <img class="large-image" src="https://images.pexels.com/photos/7621778/pexels-photo-7621778.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Imagen Grande">
    </section>

</section>

{% endblock%}